<!DOCTYPE html>
<html>
    <% var page = beyondDogCat; var pageName = 'beyond-dog-cat'; %>
    <% include ./partials/head.ejs %>
    <body>
        <div class="page service beyondDogCat">
            <div class="wrap">
                <% include ./partials/header.ejs %>
                <% include ./partials/hero.ejs %>
                <div class="body">
                    <div class="sidebar">
                        <% include ./partials/sidebar-service.ejs %>
                    </div>
                    <div class="content">
                        <main>
                            <section class="beyond-dog-cat">
                                <% include ./partials/content.ejs %>
                                <%
                                    var doctors = people.content;
                                    var divisionName = '非犬貓';
                                    var nonDogCat = [];

                                    for (var i = 0; i < doctors.length; i += 1) {
                                        for (var j = 0; j < doctors[i].domains.length; j += 1) {
                                            if (doctors[i].domains[j] === divisionName) {
                                                nonDogCat.push(doctors[i]);
                                                break;
                                            }
                                        }
                                    }
                                %>
                                <ul class="div-species">
                                    <% for (var i = 0; i < page.articles.length; i += 1) { %>
                                    <li class="Cf">
                                        <div class="hd">
                                            <a class="toggle toggle-article" href=""><%= page.articles[i].title %></a>
                                        </div>
                                        <div class="bd hide">
                                        <ul class="items">
                                            <% for (var j = 0; j < page.articles[i].content.length; j += 1) { %>
                                                <li><%= page.articles[i].content[j] %></li>
                                            <% } %>
                                        </ul>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                                <h4><%= divisionName %>醫師</h4>
                                <ul class="div-doctors">
                                    <% for (var i = 0; i < nonDogCat.length; i += 1) { %>
                                    <li class="Cf">
                                        <div class="hd">
                                            <a class="toggle toggle-resume" href=""><%= nonDogCat[i].name %></a>
                                        </div>
                                        <div class="bd hide">
                                            <div class="pic">
                                                <img src="<%= nonDogCat[i].image %>" />
                                            </div>
                                            <div class="items">
                                                <ul>
                                                    <% for (var j = 0; j < nonDogCat[i].resume.length; j += 1) { %>
                                                        <li><%= nonDogCat[i].resume[j] %></li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                                <a href="./images/calendar.jpg"><img src="./images/calendar.jpg" /></a>
                            </section>
                        </main>
                    </div>
                </div>
                <% include ./partials/footer.ejs %>
            </div>
        </div>
        <% include ./partials/map.ejs %>
    </body>
    <% include ./partials/scripts.ejs %>
</html>