<!DOCTYPE html>
<html>
    <% var page = divisions; var pageName = 'divisions';  %>
    <% include ./partials/head.ejs %>
    <body>
        <div class="page service divisions">
            <div class="wrap">
                <% include ./partials/header.ejs %>
                <% include ./partials/hero.ejs %>
                <div class="body">
                    <div class="sidebar">
                        <% include ./partials/sidebar-service.ejs %>
                    </div>
                    <div class="content">
                        <main>
                            <section class="subpage divisions">
                                <div class="subnav">
                                    <nav>
                                        <ul>
                                            <% for (var i = 0; i < divisions.content.length; i += 1) { %>
                                                <li>
                                                    <a href="./service.html#divisions?div=<%= i %>">
                                                        <%= divisions.content[i].name %>
                                                    </a>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </nav>
                                </div>
                                <ul>
                                <%
                                    var doctors = people.content;
                                    var divisionNames = divisions.content;
                                    var doctorsByDivisions = [];
                                    var i;
                                    var j;
                                    var k;
                                    var placeholder;

                                    for (i = 0; i < divisionNames.length; i += 1) {
                                        placeholder = [];
                                        for (j = 0; j < doctors.length; j += 1) {
                                            for (k = 0; k < doctors[j].domains.length; k += 1) {
                                                if (doctors[j].domains[k] === divisionNames[i].name) {
                                                    placeholder.push(doctors[j]);
                                                    break;
                                                }
                                            }
                                        }
                                        doctorsByDivisions.push(placeholder);
                                    }
                                %>
                                <% for (var i = 0; i < divisions.content.length; i += 1) { %>
                                    <li class="division-li">
                                        <h3><%= divisions.content[i].name %></h3>
                                        <% page = divisions.content[i]; %>
                                        <% include ./partials/content.ejs %>
                                        <h4><%= divisions.content[i].name %>醫師</h4>
                                        <ul class="div-doctors">
                                            <% for (var j = 0; j < doctorsByDivisions[i].length; j += 1) { %>
                                            <li class="Cf">
                                                <div class="hd">
                                                    <a class="toggle-resume" href=""><%= doctorsByDivisions[i][j].name %></a>
                                                </div>
                                                <div class="bd hide">
                                                    <div class="pic">
                                                        <img src="<%= doctorsByDivisions[i][j].image %>" />
                                                    </div>
                                                    <div class="resume">
                                                        <ul>
                                                            <% for (var k = 0; k < doctorsByDivisions[i][j].resume.length; k += 1) { %>
                                                                <li><%= doctorsByDivisions[i][j].resume[k] %></li>
                                                            <% } %>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <% } %>
                                        </ul>
                                    </li>
                                <% } %>
                                </ul>
                                <a href="./images/calendar.jpg"><img src="./images/calendar.jpg" /></a>
                            </section>
                        </main>
                    </div>
                </div>
                <% include ./partials/footer.ejs %>
            </div>
        </div>
        <% include ./partials/map.ejs %>
    </body>
    <% include ./partials/scripts.ejs %>
</html>