<!DOCTYPE html>
<html>
    <%
        var page = people;
        var pageName = 'people';
        var peopleWithdomains = [];

        for (var i = 0; i < people.content.length; i += 1) {
            peopleWithdomains.push({
                domains: people.content[i].domains
            });
        }
    %>
    <% include ./partials/head.ejs %>
    <body>
        <div class="page people">
            <div class="wrap">
                <% include ./partials/header.ejs %>
                <% include ./partials/hero.ejs %>
                <div class="body">
                    <div class="sidebar">
                        <aside>
                            <ul class="domains">
                                <li><a class="select-domain all" href="">所有醫師</a></li>
                            <% for (var i = 0; i < domains.length; i += 1) { %>
                                <li><a class="select-domain" href=""><%= domains[i]%></a></li>
                            <% } %>
                            </ul>
                            <div class="highlight"></div>
                        </aside>
                    </div>
                    <div class="content">
                        <main>
                            <ul>
                                <% for (var i = 0; i < people.content.length; i += 1) {%>
                                    <li class="people-doc Cf">
                                        <div class="pic">
                                            <img src="<%= people.content[i].image %>" />
                                        </div>
                                        <div class="hd">
                                            <h2><%= people.content[i].name %></h2>
                                            <ul class="domain">
                                                <% for (var j = 0; j < people.content[i].domains.length; j += 1) { %>
                                                    <li><%= people.content[i].domains[j] %></li>
                                                <% } %>
                                            </ul>
                                        </div>
                                        <div class="bd">
                                            <ul>
                                                <% for (var j = 0; j < people.content[i].resume.length; j += 1) { %>
                                                    <li><%= people.content[i].resume[j] %></li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        </main>
                    </div>
                </div>
                <% include ./partials/footer.ejs %>
            </div>
        </div>
        <% include ./partials/map.ejs %>
    </body>
    <script>var peopleCategory = <%- JSON.stringify(peopleWithdomains); %></script>
    <% include ./partials/scripts.ejs %>
</html>