<div class="header">
    <header>
        <div class="nav">
            <nav>
                <ul>
                    <% if (pageName === 'people' || pageName === 'schedule') {
                        var pageNameOrg = pageName;

                        pageName = 'index';
                    } %>
                    <% for (var i = 0; i < nav.length; i += 1) { %>
                        <li>
                            <a data-pagename="<%= nav[i].page %>" href="<%= nav[i].url %>"
                                <% if (pageName === nav[i].page) { %>class="selected"<% } %>
                            >
                                <%= nav[i].name %>
                            </a>
                        </li>
                    <% } %>
                    <% pageName = pageNameOrg; %>
                </ul>
            </nav>
        </div>
        <h1 class="title">
            <a class="name" href="./"><%= h1.name %></a>
            <span class="tagline"><%= h1.tagline %></span>
        </h1>
        <div class="phone">
            <span class="label"><span class="notxt"><%= phone.label %></span></span>
            <span class="info"><a href="tel:<%= phone.info %>"><%= phone.info %></a></span>
            <div class="address">
                <address>
                    <span class="label notxt"><%= address.label %></span>
                    <button class="mapLink"><span class="notxt">打開地圖</span></button>
                    <span class="info-pc">
                        <!-- iphone: http://maps.apple.com/?q=台北市中山區北安路554巷33號 -->
                        <%= address.info %></a>
                    </span>
                    <a class="info-mobile" href=""><%= address.info %></a></a>
                    <span class="note"><%= address.note %></span>
                </address>
            </div>
        </div>
    </header>
</div>