<div class="header">
    <header>
        <div class="banner">
          <h1 class="title">
              <a href="./">
                <span class="notxt">伊甸動物醫院</span>
              </a>
          </h1>
          <div class="right">
            <div class="phone">
              <span class="label"><span class="notxt"><%= phone.label %></span></span>
              <span class="info"><a href="tel:<%= phone.info %>">預約門診及24小時急診電話 <%= phone.info %></a></span>
            </div>
            <div class="address">
                <address>
                    <span class="label notxt"><%= address.label %></span>
                    <button class="mapLink"><span class="notxt">打開地圖</span></button>
                    <span class="info-pc">
                        <!-- iphone: http://maps.apple.com/?q=台北市中山區北安路554巷33號 -->
                        <%= address.info %></a>
                    </span>
                    <a class="info-mobile" href=""><%= address.info %></a></a>
                    <span class="note"><%= address.note %></span>
                </address>
            </div>
            <div class="nav">
                <nav>
                    <ul>
                        <% for (var i = 0; i < nav.length; i += 1) { %>
                            <% var news = 'news'; %>
                            <li>
                              <% if (nav[i].url) { %>
                                <a data-pagename="<%= nav[i].page %>" href="<%= nav[i].url %>"
                                    <% if (pageName === nav[i].page || (pageName.includes(news) && nav[i].page === news) ) { %>class="selected"<% } %>
                                >
                                    <%= nav[i].name %>
                                </a>
                              <% } else if (nav[i].submenu) { %>
                                <a href='' class="<%= nav[i].page %><% if ((nav[i].submenu.filter(entry => entry.page === pageName).length > 0)) { %> selected<% } %>">
                                  <%= nav[i].name %>
                                </a>
                                <div class="submenu">
                                  <% for (var j = 0; j < nav[i].submenu.length; j += 1) { %>
                                    <a data-pagename="<%= nav[i].submenu[j].page %>" href="<%= nav[i].submenu[j].url %>">
                                      <%= nav[i].submenu[j].name %>
                                    </a>
                                  <% } %>
                                </div>
                              <% } %>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
          </div>
          <button class="nav-mobile-toggle">
            <span class="notxt">選單</span>
          </button>
        </div>
        <div class="nav-mobile">
            <nav>
                <ul>
                    <% for (var i = 0; i < nav.length; i += 1) { %>
                        <li>
                          <% if (nav[i].url) { %>
                            <a data-pagename="<%= nav[i].page %>" href="<%= nav[i].url %>"
                                <% if (pageName === nav[i].page) { %>class="selected"<% } %>
                            >
                                <%= nav[i].name %>
                            </a>
                          <% } else if (nav[i].submenu) { %>
                            <a href="<%= nav[i].submenu[0].url %>" class="<%= nav[i].page %><% if ((nav[i].submenu.filter(entry => entry.page === pageName).length > 0)) { %> selected<% } %>">
                              <%= nav[i].name %>
                            </a>
                          <% } %>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </header>
</div>